@import url('https://fonts.googleapis.com/css2?family=Lobster');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	--color-1: #283e50;
	--color-2: #0197f6;
	--color-3: #1fcca4;
	font-family: sans-serif;
	min-height: 100vh;
	padding: 1em;
	margin: 0;
	background-image: linear-gradient(to top, #ffc8da, #615dad);
	color: white;
}

.intro {
	max-width: 364px;
	margin: 50px auto 0;
	color: #ffffff;
	background-color: var(--color-1);
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	position: relative;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
}

.intro__hero {
	width: 100%;
	height: auto;
}

.intro__title {
	margin: 0;
	padding: 0.5em 0.25em 0.25em;
	font-size: 3em;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}

.intro__text {
	padding: 1em 1em 2em;
	margin: 0;
	line-height: 1.5;
}

.intro__action {
	background-color: var(--color-3);
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 1em;
}

.intro__action:hover,
.intro__action:focus {
	text-decoration: underline;
}

.intro__action + .intro__action {
	margin-top: 1px;
	background-color: var(--color-2);
}

.board {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid var(--color-1);
	background-color: rgba(255, 255, 255, 0.4);
	max-width: 80vmin;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes intro--board__field {
	0%,
	100% {
		background-color: transparent;
	}
	20% {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@keyframes pop-in--board__field {
	0% {
		transform: scale(0);
	}
}

.board__field {
	width: 10%;
	display: block;
	padding: 0;
	border: 1px solid var(--color-1);
	background-color: transparent;
	cursor: pointer;
	position: relative;
	animation: intro--board__field 1s paused;
}

.board__field:not(.board__field--cross):not(.board__field--circle):hover,
.board__field:not(.board__field--cross):not(.board__field--circle):focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.board__field::after {
	content: '';
	position: absolute;
	top: 17%;
	left: 17%;
	right: 17%;
	bottom: 17%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.board__field--cross::after,
.board__field--circle::after {
	animation: pop-in--board__field 0.15s cubic-bezier(0.75, 0.73, 0.9, 1.4);
}

.board__field--cross,
.board__field--circle {
	cursor: default;
}

.board__field::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.current-player {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.current-player__symbol {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: cover;
	margin-bottom: -3px;
	filter: invert(100%);
}

.board__field--cross::after,
.current-player__symbol--cross {
	background-image: url('cross.svg');
}

.board__field--circle::after,
.current-player__symbol--circle {
	background-image: url('circle.svg');
}

.game-header {
	text-align: center;
}

.game-header__title {
	margin: 0 0 20px;
	font-size: 4em;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}

.game-header__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 80vmin;
	margin: 0 auto 20px;
}

.controls {
	display: flex;
}

.controls__home,
.controls__restart {
	background-color: var(--color-3);
	color: #ffffff;
	text-decoration: none;
	padding: 0.5em;
	border-radius: 4px;
}

.controls__restart {
	margin-left: 0.5em;
	background-color: var(--color-2);
}

.rules__title {
	font-size: 4em;
	margin: 0;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}
